<div class="section" id="contact">
        <div class="cc-contact-information" style="background-image: url('assets/images/contact.jpg');">
          <div class="container">
            <div class="cc-contact">
              <div class="row">
                <div class="col-md-9">
                  <div class="card mb-0" data-aos="zoom-in">
                    <div class="h4 text-center title">Contact Me</div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card-body">
                            <div class="p pb-3">
                              <strong>Get in touch</strong>
                            </div>
                            <div>
                              <a class="cc-github btn btn-link " title="https://github.com/anmolh09" href="https://github.com/anmolh09" target="_blank">
                                <i class="fa fa-github fa-2x " aria-hidden="true"></i>
                              </a>
                              <a class="cc-linkedin btn btn-link " title="https://www.linkedin.com/in/anmolh09/" href="https://www.linkedin.com/in/anmolh09/" target="_blank">
                                <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
                              </a>
                              <!-- <a class="cc-google-plus btn btn-link" href="#" target="_blank">
                                <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
                              </a> -->
                            </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card-body">
                          <p class="mb-0">
                            <strong>Phone</strong>
                          </p>
                          <p class="pb-2">+1 607 313 0818</p>
                          <p class="mb-0">
                            <strong>Email</strong>
                          </p>
                          <p>anmolh09@gmail.com</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-snotify class="material"></ng-snotify>
